@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-container {
  max-height: 240px; /* Tentukan tinggi maksimum kontainer */
  overflow-y: auto;
  scrollbar-width: thin; /* Untuk Firefox */
}

/* Untuk browser WebKit (Chrome, Safari, Opera) */
.scroll-container::-webkit-scrollbar {
  width: 0; /* Sembunyikan scrollbar horizontal */
}

.scroll-container::-webkit-scrollbar-thumb {
  display: none; /* Sembunyikan thumb (grip) scrollbar */
}

.message-container {
  max-height: 100px; /* Tentukan tinggi maksimum kontainer */
  overflow-y: auto;
  scrollbar-width: thin; /* Untuk Firefox */
}

.message-container::-webkit-scrollbar {
  width: 0; /* Sembunyikan scrollbar horizontal */
}

.message-container::-webkit-scrollbar-thumb {
  display: none; /* Sembunyikan thumb (grip) scrollbar */
}
