@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-container {
  max-height: 240px; /* Tentukan tinggi maksimum kontainer */
  overflow-y: auto;
  scrollbar-width: thin; /* Untuk Firefox */
}

/* Untuk browser WebKit (Chrome, Safari, Opera) */
.scroll-container::-webkit-scrollbar {
  width: 0; /* Sembunyikan scrollbar horizontal */
}

.scroll-container::-webkit-scrollbar-thumb {
  display: none; /* Sembunyikan thumb (grip) scrollbar */
}

.message-container {
  max-height: 100px; /* Tentukan tinggi maksimum kontainer */
  overflow-y: auto;
  scrollbar-width: thin; /* Untuk Firefox */
}

.message-container::-webkit-scrollbar {
  width: 0; /* Sembunyikan scrollbar horizontal */
}

.message-container::-webkit-scrollbar-thumb {
  display: none; /* Sembunyikan thumb (grip) scrollbar */
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Z-index tinggi untuk menempatkan popup di atas elemen lain */

  /* Optional: Untuk membuat efek animasi */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* CSS untuk tampilan popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Z-index tinggi untuk menempatkan popup di atas elemen lain */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
}

.popup.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0s;
}

/* CSS untuk tampilan inner popup */
.popup-inner {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 600px; /* Sesuaikan lebar popup inner */
  max-width: 90%;
  text-align: center;
}

.popup-inner h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.popup-inner p {
  font-size: 16px;
  margin-bottom: 15px;
}

.popup-inner button {
  padding: 8px 16px;
  border: none;
  background-color: #3b3286;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.popup-inner button:hover {
  background-color: #52459e;
}
